<div
  class="tile mat-tooltip"
  (mousedown)="onMouseDown($event)"
  (mouseenter)="onMouseEnter()"
  (mouseup)="onMouseUp()"
  [ngStyle]="{ 'background-image': this.tileTexture }"
  [ngClass]="{ 'grab-cursor': shouldShowGrabCursor() }"

  #tooltip="matTooltip"
  [matTooltip]="this.isTooltipEnabled() ? this.getFormattedTooltip() : null"
  [matTooltipShowDelay]="200"
  [matTooltipPosition]="'right'"
  matTooltipClass="description-tooltip"
>
  @if (this.itemObject) {
    <img [src]="'../assets/' + this.itemObject.name + '.png'" draggable="false" alt="{{this.itemObject.name}}" />
  }
</div>