.error-box {
    max-width: 300px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(23, 27, 73);
    border-radius: 20px;
}

.title {
    margin-left: 10px;
    color: white;
}

.error-list {
    color: white;
}
