<div class="container">
    <div (click)="clickItem(false, this)" class="options">
        <div>
            <p class="stat">vie</p>
        </div>
        @if(cahnge){
        <div>
            <h5 class="bonus" style="display: none">+2 BONUS</h5>
        </div>
        }@else{
        <div>
            <h5 class="bonus">+2 BONUS</h5>
        </div>
        }
    </div>
    <div (click)="clickItem(true, this)" class="options">
        <div>
            <p class="stat">rapidité</p>
        </div>
        @if(cahnge){
        <div>
            <h5 class="bonus">+2 BONUS</h5>
        </div>
        }@else{
        <div>
            <h5 class="bonus" style="display: none">+2 BONUS</h5>
        </div>
        }
    </div>
</div>
