.item-container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: rgb(87, 87, 84);
    border-radius: 20%;
  }
  
  .item {
    max-width: 50px;
    max-height: 50px;
    width: 90%;
    height: 90%;
    object-fit: contain;
    transition: filter 0.2s ease;
  }

  .item:hover {
    cursor: grab;
  }

  .item.item:active {
    cursor: grabbing;
  }

  .item.grayscale {
    filter: grayscale(100%);
  }
  
  .drag-preview {
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    width: 50px;
    height: 50px;
  }
  
  .drag-preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }