.container {
    min-height: 100vh;
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.button {
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    cursor:pointer;
}

.button:hover {
    background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

.header-item {
    justify-content: center;
    text-align: center;
}






