$primary-color: #a85cf9; // Couleur du titre
$background-color: #333; // Couleur de fond de la page
$button-color: #eee; // Couleur des boutons
$button-hover-color: #ddd; // Couleur des boutons au survol
$button-border-color: #aaa; // Couleur de la bordure des boutons
$text-color: #fff; // Couleur principale du texte
$footer-color: #aaa; // Couleur du texte dans le pied de page

@mixin center-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page {
    background-color: $background-color;
    text-align: center;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    &__title {
        font-size: 3rem;
        color: $primary-color;
        margin-bottom: 2rem;
    }

    &__logo {
        width: 100px;
        height: auto;
        margin: 1rem auto;
    }

    &__button-section {
        @include center-align;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;

        .button {
            background-color: $button-color;
            border: 2px solid $button-border-color;
            border-radius: 5px;
            padding: 0.8rem 2rem;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $button-hover-color;
            }
        }
    }

    &__footer {
        margin-top: 3rem;
        justify-content: flex-end;
        bottom: 0;

        .team-name {
            font-size: 1.2rem;
            color: $footer-color;
        }

        p {
            font-size: 1rem;

            span {
                color: $footer-color;

                &:not(:last-child)::after {
                    content: ', ';
                }
            }
        }
    }
}
