<div class="container justified">
    <h1 class="header-item">{{ title }}</h1>
    <img src="https://bit.ly/3QofL1J" alt="Logo Projet" />

    <div class="justified">
        <button class="button" routerLink="/game">Joindre une partie</button>
        <button class="button">Créer une partie</button>
        <button class="button">Administrer les jeux</button>
    </div>

    <footer class="footer-item">
        <h4 class="team-name">Made by team #103:</h4>
        <p>
            <span>Alhassane Barry</span>, <span>Vincent Charbonneau</span>,
            <span>Julien Cyr</span>, <span>Danya Li</span>,
            <span>Tristan Samson</span>, <span>Cedric Andy Vaval</span>
        </p>
    </footer>
</div>
