<div class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h2>CRÉER LE JEU</h2>
            <button class="close-btn" (click)="closeModal()">×</button>
        </div>
        <div class="modal-body">
            <div class="form-section">
                <h3>MODE DE JEU:</h3>
                <div class="radio-group">
                    <label>
                        <input type="radio" [(ngModel)]="newMapForm.gameMode" name="gameMode" value="Classic" />
                        CLASSIQUE
                    </label>
                    <label>
                        <input type="radio" [(ngModel)]="newMapForm.gameMode" name="gameMode" value="CTF" />
                        CAPTURE THE FLAG
                    </label>
                </div>
            </div>
            <div class="form-section">
                <h3>TAILLE DU JEU:</h3>
                <div class="radio-group">
                    <label>
                        <input type="radio" [(ngModel)]="newMapForm.size" name="gameSize" [value]="10" />
                        PETITE
                        <small class="text-gray-500">10X10 | 2 joueurs et 2 items</small>
                    </label>

                    <label>
                        <input type="radio" [(ngModel)]="newMapForm.size" name="gameSize" [value]="15" />
                        MOYENNE
                        <small class="text-gray-500">15x15 | 2 à 4 joueurs et 4 items</small>
                    </label>
                    <label>
                        <input type="radio" [(ngModel)]="newMapForm.size" name="gameSize" [value]="20" />
                        GRANDE
                        <small class="text-gray-500">20x20 | 2 à 6 joueurs et 6 items</small>
                    </label>
                </div>
            </div>
            <button class="create-btn" (click)="createMap()">CRÉER LE JEU</button>
        </div>
    </div>
</div>
