<div class="container">
<app-profile-picture class="grid-item"></app-profile-picture>
<app-profile-picture class="grid-item"></app-profile-picture>
<app-profile-picture class="grid-item"></app-profile-picture>
<app-profile-picture class="grid-item"></app-profile-picture>

<app-profile-picture class="grid-item"></app-profile-picture>
<app-profile-picture class="grid-item"></app-profile-picture>
<app-profile-picture class="grid-item"></app-profile-picture>
<app-profile-picture class="grid-item"></app-profile-picture>

<app-profile-picture class="grid-item"></app-profile-picture>
<app-profile-picture class="grid-item"></app-profile-picture>
<app-profile-picture class="grid-item"></app-profile-picture>
<app-profile-picture class="grid-item"></app-profile-picture>
</div>
