.item-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: rgb(87, 87, 84);
  border-radius: 20%;
  position: relative; /* Add this to position the amount number relative to the container */
}

.item {
  max-width: 50px;
  max-height: 50px;
  width: 90%;
  height: 90%;
  object-fit: contain;
  transition: filter 0.2s ease;
  user-select: none;
}

.item:hover {
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.item.grayscale {
  filter: grayscale(100%);
}

/* Styles for the item amount number */
.item-amount {
  position: absolute; /* Position the number absolutely within the container */
  bottom: 2px; /* Adjust as needed */
  right: 2px; /* Adjust as needed */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white; /* Text color */
  font-size: 12px; /* Font size */
  padding: 2px 5px; /* Padding for better visibility */
  border-radius: 50%; /* Circular shape */
  line-height: 1; /* Ensure the text is centered vertically */
  user-select: none;
}

.drag-preview {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  width: 50px;
  height: 50px;
}

.drag-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
