body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

h1,
h5 {
    font-family: sans-serif, Impact;
    font-weight: 900;
    margin: 1%;
    text-align: left;
    margin-left: 1%;
    text-overflow: clip;
    width: 100%;
}

.title {
    display: flex;
    resize: both;
    overflow: hidden;
    width: 100%;
    height: 15vh;
    flex-direction: column;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 85vh;
    overflow: hidden;
}
.halfScreen {
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 25%;
    button {
        width: 50%;
        height: 50%;
        margin: 7%;
        color: black;
        border: none;
        border-radius: 10%;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }
    #back {
        background-color: #f44336;
        &:hover {
            background-color: #d32f2f;
        }
    }
    #continue {
        background-color: #4caf50;
        &:hover {
            background-color: #388e3c;
        }
    }
    #unlocked {
        background-color: yellow;
        &:hover {
            background-color: #ffeb3b;
        }
    }
    overflow: hidden;
}
