<div class="game-actions">
    <button class="visibility-btn" (click)="toggleVisibility(map)"> 
        <i [class]="map.isVisible ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
        <mat-icon> {{ map.isVisible ? 'visibility' : 'visibility_off' }} </mat-icon>
    </button>
    
    <button (click)="editMap(map)" class="edit-btn">
        <i class="fas fa-edit"></i> ÉDITER
    </button>

    <button class="delete-btn" (click)="deleteMap(map)">
        <i class="fas fa-trash"></i> SUPPRIMER
    </button>
</div>