$primary-color: #a85cf9; // Couleur du titre
$background-color: #333; // Couleur de fond de la page
$button-color: #eee; // Couleur des boutons
$button-hover-color: #ddd; // Couleur des boutons au survol
$button-border-color: #aaa; // Couleur de la bordure des boutons
$text-color: #fff; // Couleur principale du texte
$footer-color: #aaa; // Couleur du texte dans le pied de page

button {
    padding: 10px 20px;
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
    background-color: rgb(167, 130, 36); // Set the background color to green
    color: $text-color;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: 0.9;
        box-shadow:
            0 6px 8px rgba(0, 0, 0, 0.1),
            0 2px 4px rgba(0, 0, 0, 0.08);
    }
}
