<div id="brush-grid">
    <button class="brush-button" (click)="changeTool(EDIT_TOOL_TYPES.HAND)" style="background-image: url('../assets/hand.png')"></button>
    <button class="brush-button" (click)="changeBrushTile(TileTypes.DOOR)" style="background-image: url('../assets/doorTile.png')"></button>
    <button class="brush-button" (click)="changeBrushTile(TileTypes.WALL)" style="background-image: url('../assets/wallTile.png')">
    </button>
    <button class="brush-button" (click)="changeBrushTile(TileTypes.GROUND_0)" style="background-image: url('../assets/groundTile0.png')">
    </button>
    <button class="brush-button" (click)="changeBrushTile(TileTypes.GROUND_1)" style="background-image: url('../assets/groundTile1.png')">
    </button>
    <button class="brush-button" (click)="changeBrushTile(TileTypes.GROUND_2)" style="background-image: url('../assets/groundTile2.png')">
    </button>
</div>
