<div id="brush-grid">
    <button class="brush-button" (click)="changeTool(EDIT_TOOL_TYPES.HAND)" style="background-image: url('../assets/hand.png');">hand</button>
    <button class="brush-button" (click)="changeBrushTile(TILE_TYPES.GOLD_ORE)" style="background-image: url('../assets/goldOre.png');">goldOre</button>
    <button class="brush-button" (click)="changeBrushTile(TILE_TYPES.JOHN_PORK)" style="background-image: url('../assets/johnPork.png');">johnPork</button>
    <button class="brush-button" (click)="changeBrushTile(TILE_TYPES.JOHN_PORK)" style="background-image: url('../assets/johnPork.png');">johnPork</button>
    <button class="brush-button" (click)="changeBrushTile(TILE_TYPES.JOHN_PORK)" style="background-image: url('../assets/johnPork.png');">johnPork</button>
    <button class="brush-button" (click)="changeBrushTile(TILE_TYPES.JOHN_PORK)" style="background-image: url('../assets/johnPork.png');">johnPork</button>
</div>

