<div id="brush-grid">
    <button class="brush-button" (click)="changeTool(editToolTypes.Hand)" style="background-image: url('../assets/hand.png')"></button>
    <button class="brush-button" (click)="changeBrushTile(tileTypes.DOOR)" style="background-image: url('../assets/doorTile.png')"></button>
    <button class="brush-button" (click)="changeBrushTile(tileTypes.WALL)" style="background-image: url('../assets/wallTile.png')"></button>
    <button class="brush-button" (click)="changeBrushTile(tileTypes.GROUND_0)" style="background-image: url('../assets/groundTile0.png')"></button>
    <button class="brush-button" (click)="changeBrushTile(tileTypes.GROUND_1)" style="background-image: url('../assets/groundTile1.png')"></button>
    <button class="brush-button" (click)="changeBrushTile(tileTypes.GROUND_2)" style="background-image: url('../assets/groundTile2.png')"></button>
</div>
