.container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5%;
    cursor: pointer;
    &:hover {
        background-color: #e4e4e4;
    }
    transition: all 0.2s ease-in-out;
}

.attack,
.defense {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    width: 100%;
    overflow: hidden;
}

img {
    height: 8vh;
    width: 8vh;
}
