$primary-color: #b166ff;
$hover-color: #4cc9f0;
$clicked-color: #4361ee;
$confirmed-color: #3a0ca3;
$color-electric-purple: #7209b7;
$light-pink: #f72585;
$background-color: #333;
$light-grey-color: #aaa;
