.tile-grid {
    width: 90vmin;
    height: 90vmin;
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    margin: 50px;
    display: grid;
    user-select: none;
    align-items: start;
    justify-content: start;
    box-sizing: border-box;
  }
  