<div
    id="edit-page"
    (mouseleave)="onMouseLeave()"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp()"
    [ngStyle]="{ cursor: this.dragAndDropService.isDragging ? 'grabbing' : 'default' }"
>
    <div class="app-layout" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp()">
        <div class="tools">
            <app-brush-grid class="brush-grid"></app-brush-grid>
            <app-item-grid></app-item-grid>
        </div>
        
        <div class="map"> 
            <app-tile-grid class="tile-grid"></app-tile-grid>  
        </div>

        <div class="infos">
            <app-title></app-title>
            <app-description></app-description>
            <div id="buttons">
                <app-save-button></app-save-button>
                <app-reset-button></app-reset-button>
                <button (click)="this.mapService.printMap()">print for testing</button>
            </div>
        </div>
    </div>
</div>
